
.container {
    display: flex;
    background-color: #F7F7F7;
    margin-top: 4px;
    margin-left: 20px;
    padding: 1rem;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.nav-icon {
    color: #2FB5B4;
    margin-right: 0.4rem;
}

.icon{
    width: 1rem;
    height: 1rem;
}

.item{
    display: flex;
    justify-content: end;
}
.container p {
    margin: 0 1rem; /* Add space above and below each paragraph */
}
.container-2{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 11rem;
}

.cont2-icon {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.7);
}

.cont2-icon-mid {
    margin: 0 2rem;
}

.container2-div1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container2-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    margin-left: 1.5rem;
    width: 30rem;
    border: none; /* Remove all borders */
  border-bottom: 1px solid black; /* Set the bottom border */
  outline: none; /* Remove the default focus outline (optional) */
  padding-bottom: 1rem;
}

.search-icon {
    font-size: 1.5rem;
    position: relative;
    right: 2rem;
}

.navbar{
    display: flex;
    justify-content:space-around;
    background-color: #2FB5B4;
    margin-left: 20px;
    padding: 0 0.5rem;
    color: white;
}
.imge{
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    margin-left: 20px;
}

.content-img {
    width: 50%;
}

.content-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4EDF3;
}

.contentext{
    text-align: left;
    width: 50%;
    height: auto;
    font-family: sans-serif;
}

.contentext h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #013332;
    margin: 0;
}

.contentext button {
    width: 10rem;
    padding: 0.5rem;
    background-color: #2FB5B4;
    color: white;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
}
.product-head-right span{
    margin-right: 2rem;
    font-family: sans-serif;
}
.product1{
    color: #2FB5B4;
}
.product-head-left{
    font-weight: 700;
    margin-left: 2rem;
    
}
.products{
    margin: 2rem 8rem ;
    display: flex;
    justify-content: space-around;
}
.producttext{
    display: flex;
    justify-content: space-between;
    margin: 4rem 8rem;
   
}
/* .producttext,p,h3{
    margin-right: 3rem;
} */

.product {
    width: 16rem;
}
.detail{
    color:#2FB5B4;
    font-weight: 600;
    font-family: sans-serif;
}
.setimg{
    width: 16rem;
    height: 16rem;
    
    border: 1px solid black;
}

.container-8{
    display: flex;
    justify-content: space-around;
    margin: 3rem 8rem;
    text-align: center;
}

.container-9{
    display: flex;
    justify-content: space-between;
    margin: 0 8rem;
}

.container9-div1 {
    display: flex;
}

.container9-div1 div{
    margin-right: 4rem;
}

.container-10{
    padding: 2rem;
    background-color: #f7f7f7;
    margin: 1rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sites{
    margin-right: 1rem;
}
.image{
    width: 3rem;
    height: 3rem;
}
hr{
    border: 1px solid rgb(40, 40, 40);
    margin: 80px;
    
}

.family{
    font-family: sans-serif;
    font-size: 0.8rem;
}
.family2{
    font-family: sans-serif;
    font-weight: 600;
}

.sites1{
    color:#2FB5B4;
}
.searchbar{
    border: none; /* Remove all borders */
    outline: none;
    background-color:  #f7f7f7;
    width: 17rem;
    padding: 0.9rem;
}

.searchtext{
    font-size: 0.8rem;
    position: relative;
    right: 4rem;
    color: #2FB5B4;
    font-weight: 600;
}
.safe{
    font-size: 0.6rem;
    font-family: sans-serif;
}
.footericon span{
    margin-right: 1rem;
    font-size: 1.5rem;
}
